<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="SYSTEM_OUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>./debug/logback/main.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLING_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./debug/logback/main-rolling.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./debug/logback/archive/mainrlng.log.%d{yyyyMMdd}.%i.gz</fileNamePattern>
            <maxFileSize>100KB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="SYSTEM_OUT" />
    </root>

    <logger name="ru" level="INFO">
        <appender-ref ref="ROLLING_FILE" />
    </logger>

    <logger name="ru.protei" level="DEBUG">
        <appender-ref ref="FILE" />
    </logger>
</configuration>